@import "tailwindcss";


.messages::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3b3b3b;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}